body {
    text-align: center;
    font-family: monospace;
    color: aliceblue;
    background-color: black;
}


a {
    text-decoration: none;
    color: white;
}
img {
    border: white 5px solid;
    
}